html, body
{
	font-family: sans-serif;
}

a, a:visited
{
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

@media (prefers-color-scheme: light)
{
	html, body
	{
		color: #111112;
		background-color: #DDDDDE;
	}
	
	u
	{
		border-bottom: 1px dotted #111112;
		text-decoration: none;
	}
	
	a, a:visited
	{
		color: #496cad;
	}
}

@media (prefers-color-scheme: dark)
{
	html, body
	{
		color: #CCCCCD;
		background-color: #222223;
	}
	
	u
	{
		border-bottom: 1px dotted #CCCCCD;
		text-decoration: none;
	}
	
	a, a:visited
	{
		color: #84a9ec;
	}
}